<%= javascript_include_tag "application/app" %>

<% content_for :title do %>
    Caregiver Admin Application
<% end %>

<script language="JavaScript">
  var user = new Object();
  user.token = '<%= @token %>';
  user.role = '<%= @role.role_id %>';
  user.customer = '<%= @customer.id %>';
</script>


<div class="navbarloon navbar main-navbar navbar-fixed-top total-height">
  <div class="logopanel">
    <div class="navbar-brand"></div>
  </div>
  <div class="leftpanelinner">
      <div class="col-md-13">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#" role="entityLink" data-entity="user"><span class="menuicon glyphicon glyphicon-user" aria-hidden="true"></span>Users</a></li>
        </ul>
      </div>
  </div><!-- leftpanelinner -->
</div><!-- leftpanel -->

<div class="headerbar">
  <ul class="headermenu pull-right">
    <li>
      <div class="btn-group">
        <a href="<%= url_for :controller => 'authentication', :action =>  'logout'%>" class="logout-button responsive-icon-button btn btn-primary">Logout</a>
      </div>
    </li>
  </ul>
  <div id="headerTitle" role="contentIn" class="headerTitle">
  </div>
</div><!-- headerbar -->


<div class="contentloon">
  <div class="container-fluid body-content">
  </div>
</div><!-- mainpanel -->

<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="modalMessage" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalMessageTitle"></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <span class="success-message" id="modalMessageText"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
