<%= javascript_include_tag "application/user/sites" %>

<form class="entity-input-form" data-entity="<%= params[:entityName]%>" role="form">
    <input type="hidden" name="skip_confirm" value="true" />
    <% if !@targetEntity.id.nil? then %>
            <input type="hidden" name="user_id" id="user_id" role="entity-id" required="true" value="<%= @targetEntity.id %>"/>
    <% end %>
   <input id="sitesUser" type="hidden" name="sitesUser">
  <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" required="true" value="<%= @targetEntity.email%>"/>
  </div>
  <% if @targetEntity.id.nil? then %>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required="true" pattern=".{3,}" title="8 or more characters"/>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required="true" pattern=".{3,}" title="8 or more characters"/>
      </div>
<% end %>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" id="phone" name="phone" required="true" value="<%= @targetEntity.phone %>"/>
  </div>
  <div class="form-group">
    <label for="customer_id">Customer Id</label>
    <input type="text" class="form-control" id="customer_id" name="customer_id" required="true" value="<%= @targetEntity.customer_id %>"/>
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <%= render "general/components/roles_combo" , :selectedValue => @targetEntity.role_id%>
  </div>
  <div class="form-group">
    <label>User Sites</label>
    <div class="input-group">
      <%= render "general/components/autocomplete", :targetValue => '', :targetLabel => '', :service => '/site/suggestions', :prefix_id => 'site' %>
      <span class="input-group-btn">
        <button class="btn btn-default" id="btnAddSite" type="button">Add Site</button>
      </span>
    </div>
    <table id="siteNameTable">
      <tr>
        <th>Site Name</th>
      </tr>
    <% @targetEntity.sites.each do |s|%>
        <tr id="tr<%= s.id %>">
         <td><%= s.name %></td>
          <td><a href="#" onclick="removeSite('<%= s.id %>');"><span aria-hidden="true">&times;</span></a></td>
        </tr>
    <% end %>
    </table>
  </div>

</form>