<html>
<head>

</head>
<body style="width: 430px; margin: 0px; font-family: sans-serif; border: 1px solid #4d6086; border-radius: 5px; line-height: 1.6em">
<div style="background: url('<%= BaseApp::Application.config.emailAssetHost + image_url('care-sentinel-logo.png') %>') no-repeat center center #EFEFEF; height: 100px; display: block !important; margin-bottom: 30px; border-top-left-radius: 5px; border-top-right-radius: 5px"></div>
<div style="padding-left: 30px; padding-bottom: 20px; padding-right: 30px">
  <div style='font-size: 20px; font-weight: bold; width: 100%; text-align: center;'>Welcome To CareSentinel!</div>
  <br/>
</div>
<div style='text-align: left; word-wrap: normal; padding-left: 30px; padding-right: 30px; padding-bottom: 30px'>
  <div style='word-wrap: normal'>
    You have been signed up for CareSentinel, the world's first ever home-health care monitoring system!. <br/><br/>Your account details are described below:<br/><br/>
  </div>
  <div style='word-wrap: normal; padding-left: 10px; margin-bottom: 20px'>
    Username: <b><%= @resource.email %></b><br/>
    <% if @resource.initialPassword %>
        Password: <b><%= @resource.initialPassword %></b><br/>
    <% end %>
    <% if @resource.initialCustomer %>
        Customer Id: <b><%= @resource.initialCustomer.customer_id %></b><br/>
    <% end %>
    <% if @resource.initialSite %>
        Site Id: <b><%= @resource.initialSite.name %></b><br/>
    <% end %>
  </div>
  <div style='padding-bottom: 25px; margin: 0px; word-wrap: normal; text-align: center'>
    To get started, please confirm your account email through the button below:
  </div>
  <a href='<%= confirmation_url(@resource, confirmation_token: @token) %>' style='text-decoration: none; color: white;' target="_blank">
    <div style='background-color: #4d6086; border: 1px solid #3c5065; border-radius:10px; text-align: center; padding: 10px; margin-right: 25%; margin-left:25%;'>
      Confirm Your Account
    </div>
  </a><br/>
  <br/>
  <br/>
</div>
</body>
</html>