<% entityName = params[:entityName]
   entityName = entityName.camelize
   entityClass = entityName.constantize
   columns = entityClass.gridColumns
   if entityClass.methods(false).include?(:gridRenderers) then
     columnRenderers =  entityClass.gridRenderers
   else
     columnRenderers = {}
   end
   if entityClass.methods(false).include?(:colActions) then
     colActions =  entityClass.colActions
   else
     colActions = {}
   end
   if entityClass.methods(false).include?(:columnOrder) then
     columnOrder =  entityClass.columnOrder
   else
     columnOrder = {}
   end
%>
<%= render "general/entity_buttons" %>
<% if @entity_deleteable then %>
    <div class="row delete-filter-section">
        <input type="checkbox" id="delete-filter" name="delete-filter" value="true"/>&nbsp;<span>Show Deleted</span>
    </div>
<% end %>
<div class="table-responsive">
    <table data-entity="<%= params[:entityName] %>" class="table stripe table-bordered table-hover entity-grid" role="entity-grid" <% if @entity_searchable then %> data-searchable="true" <% end %>>
      <thead>
        <tr>
            <% columns.each do |name,value| %>
              <td data-field="<%= name %>" data-renderer="<%= columnRenderers[name]%>" data-columnorder="<%= columnOrder[name]%>">
                <%= value %>
                  <% if colActions[name] then %>
                      <input type="hidden" id="colAction<%= colActions[name][:index] %>" value="<%= colActions[name][:action] %>" >
                      <input type="hidden" id="colActionTitle<%= colActions[name][:index] %>" value="<%= colActions[name][:action_title] %>" >
                      <input type="hidden" id="colActionHtmlTemplate<%= colActions[name][:index] %>" value="<%= colActions[name][:html_template] %>" >
                  <% end %>
              </td>
            <% end %>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>