<%= javascript_include_tag "application/device/report" %>
<%= javascript_include_tag "application/device/add_edit" %>

<div role="tabpanel">

  <!-- Nav tabs -->
  <div role="contentFor" data-contentfor="headerTabs">
      <a href="#activemonitors" class="btn btn-primary" aria-controls="activemonitors" role="tab" data-toggle="tab">Active Monitors</a>
      <a href="#reporting" aria-controls="reporting" class="btn btn-primary" role="tab" data-toggle="tab">Reporting</a>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="activemonitors">
      <div class="pageheader">
        <div role="contentFor" data-contentfor="headerTitle">Devices</div>
      </div>
      <input type="hidden" id="download_ids">
      <%= link_to "Download Devices Info",{ controller: "caregiver", action: "download_devices", token: params[:token], format: "csv"}, class: "btn btn-primary downloadlink", id: "downloadLink"  %>
      <% @entity_searchable = true; %>
      <%= render 'general/entity_grid' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="reporting">
      <div class="pageheader">
        <h1><i class="fa fa-home"></i>Reports</h1>
      </div>
      <br/><%= render 'caregiver/device/device_reports' %>
    </div>
  </div>

</div>