<form class="entity-input-form" data-entity="<%= params[:entityName]%>" role="form">
    <input type="hidden" name="skip_confirm" value="true" />
    <% if !@targetEntity.id.nil? then %>
          <input type="hidden" name="device_id" role="entity-id" required="true" value="<%= @targetEntity.id %>"/>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required="true" value="<%= @targetEntity.name%>"/>
          </div>
    <% else %>
      <div class="form-group">
        <label for="name">Name</label>
        <%= render "general/components/autocomplete", :targetValue => @targetEntity.id, :targetLabel => @targetEntity.name, :service => '/device/suggestions', :prefix_id => 'device', :placeholder => 'Device Name'%>
      </div>
    <% end %>
      <div class="form-group">
        <label for="name">Hardware ID</label>
        <input type="text" class="form-control" id="hw_id" name="hw_id" required="true" value="<%= @targetEntity.hw_id%>"/>
      </div>
</form>