<%= javascript_include_tag "application/user/add_edit" %>

<form class="entity-input-form" data-entity="<%= params[:entityName]%>" role="form">
    <input type="hidden" name="skip_confirm" value="true" />
    <% if !@targetEntity.id.nil? then %>
            <input type="hidden" name="user_id" id="user_id" role="entity-id" required="true" value="<%= @targetEntity.id %>"/>
    <% end %>
   <input id="customersUser" type="hidden" name="customersUser" value="<%= @customer.id %>" required>
   <input id="sitesUser" type="hidden" for="Site" name="sitesUser">
  <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" required="true" value="<%= @targetEntity.email%>"/>
  </div>
  <% if @targetEntity.id.nil? then %>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required="true" pattern=".{3,}" title="8 or more characters"/>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required="true" pattern=".{3,}" title="8 or more characters"/>
      </div>
<% end %>
  <div class="form-group">
    <label for="role">Role</label>
    <%= render "general/components/roles_combo" , :selectedValue => @targetEntity.role_id, :isAdmin => false%>
  </div>
  <div class="form-group">
    <div id="successAlert" class="alert alert-success" style="display: none;"><a href="#" class="close" onclick="$('#successAlert').hide();">&times;</a><div id="successAlertMsg"></div></div>
    <div id="errorAlert" class="alert alert-danger" style="display: none;"><a href="#" class="close" onclick="$('#errorAlert').hide();">&times;</a><div id="errorAlertMsg"></div></div>
    <div class="col-sm-12">
        <label>User Sites</label>
        <div class="input-group">
          <%= render "general/components/autocomplete", :targetValue => '', :targetLabel => '', :service => '/site/suggestions', :prefix_id => 'site', :placeholder => 'Site name' %>
          <span class="input-group-btn">
            <button class="btn btn-default" id="btnAddSite" type="button">Add Site</button>
          </span>
        </div>
        <br/>
        <table id="siteNameTable" style="min-width: 200px; text-align: center;" border="1" align="center">
          <tr>
            <th style="text-align: center;">Site Name</th>
            <th style="text-align: center;">Action</th>
          </tr>
        <% @targetEntity.sites.each do |s|%>
            <tr id="tr<%= s.id %>">
             <td><%= s.name %></td>
              <td style="text-align: center;"><a href="#" onclick="removeSite('<%= s.id %>');"><span aria-hidden="true">&times;</span></a></td>
            </tr>
        <% end %>
        </table>
    </div>
  </div>

</form>